<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
<section class="under">
  <div class="under-inner one">
    <p class="center">
     <b>COIO</b><br><button style="background-color: transparent; color:white; border-color:white; border-style: solid;border-width: 3px; padding: 5px 20px 5px 20px; margin-top: 10px;font-size: 16px;">SEE MORE</button>
    </p>
    
  </div>
</section>
<section class="over" style="height: 500px;">
  <div class="over-inner">
    <section class="container">
      <div class="left-half">
        
      </div>
      <div class="right-half" style="color: burlywood;text-align: left;">
        <article>
          <h1>Handmade soaps</h1>
          <h4 style="font-weight: bolder;">100% Vegan</h4>
          <p style="margin-top: 5px;">Handmade soap is made of vegetable oils - rich in antioxidants, vitamins, nutrients, - are essential to healthy skin.</p>
        </article>
      </div>
    </section>
  </div>
</section>
<section class="under" style="height: 500px; background-color: #abc7ca;">
  <div class="under-inner three" style="height: 500px; background-size: contain;">
    <img src="assets/stamp.png" style="margin-top: 5%; height: 340px; width: 340px;">
  </div>
</section>
<section class="under" style="height: 500px;background-color: #fecdbe;">
  <div class="under-inner four" style="height: 500px;background-size: contain;">
    <h1  style="font-size: 90px; font-weight: bolder; padding-top: 13%;">No Chemical</h1>
  </div>
</section>
<section class="over" style="height: 500px;">
  <div class="over-inner two" style="height: 500px;">
    <section class="container">
      <div class="left-half1" style="color: burlywood;text-align: left;">
        <article>
          <h1>Handmade soaps</h1>
          <h4 style="font-weight: bolder;">100% Vegan</h4>
          <p style="margin-top: 5px;">Handmade soap is made of vegetable oils - rich in antioxidants, vitamins, nutrients, - are essential to healthy skin.</p>
        </article>
      </div>
      <div class="right-half1" >
       
      </div>
    </section>
  </div>
</section>
<section class="under" style="height: 500px;">
  <div class="under-inner two" style="height: 500px;" >
    <h1  style="font-size: 90px; font-weight: bolder; padding-top: 13%; ">No Chemical</h1>
  </div>
</section>
<section class="over" >
  <div class="over-inner two" >
    <section class="container">
      <div class="left-half1" style="color: burlywood;text-align: left;">
        <article>
          <h1>Handmade soaps</h1>
          <h4 style="font-weight: bolder;">100% Vegan</h4>
          <p style="margin-top: 5px;">Handmade soap is made of vegetable oils - rich in antioxidants, vitamins, nutrients, - are essential to healthy skin.</p>
        </article>
      </div>
      <div class="right-half1" >
       
      </div>
    </section>
  </div>
</section>