<div class="container-fluid">
    <div class="page">

        <!-- Swiper-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/back1.png" class="d-block w-100" alt="...">
                    <!-- <div class="carousel-caption ">

                        <div class="col-sm-6">
                            <h6 style="color: white;" class="text-uppercase text-left"
                                data-caption-animate="fadeInRight" data-caption-delay="0"></h6>
                            <h2 style="color: white;" class="oh font-weight-light text-left"
                                data-caption-animate="slideInUp" data-caption-delay="100"><span>Organic</span><span
                                    class="font-weight-bold">Products</span></h2>
                        </div>

                    </div> -->
                    <!-- <div class="carousel-caption row">
                            <div class="row">
                            <div class="col-md-10">
                                <h6 style="color: white;" class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0"></h6>
                                <h2 style="color: white;" class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Organic</span><span class="font-weight-bold"> Products</span></h2><a class="button button-default-outline button-ujarak" href="#" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                            </div>
                            
                        </div>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="assets/images/back2.png" class="d-block w-100" alt="...">
                    <!-- <div class="carousel-caption ">

                        <div class="col-sm-6">
                            <h6 style="color: white;" class="text-uppercase text-left"
                                data-caption-animate="fadeInRight" data-caption-delay="0">Preservatives-free,
                                chemical-free Bliss.</h6>
                            <h2 style="color: white;" class="oh font-weight-light text-left"
                                data-caption-animate="slideInUp" data-caption-delay="100"><span>No</span><span
                                    class="font-weight-bold"> Preservatives or Chemicals</span></h2>
                        </div>

                    </div> -->
                    <!-- <div class="carousel-caption row">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 style="color: white;" class="text-uppercase" data-caption-animate="fadeInRight"
                                    data-caption-delay="0">Preservatives-free, chemical-free bliss</h6>
                                <h2 style="color: white;" class="oh font-weight-light" data-caption-animate="slideInUp"
                                    data-caption-delay="100"><span>No</span><span class="font-weight-bold"> Preservatives or
                                        Chemicals</span></h2><a class="button button-default-outline button-ujarak" href="#"
                                    data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                            </div>
    
                        </div>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="assets/images/back3.png" class="d-block w-100" alt="...">
                    <!-- <div class="carousel-caption ">

                        <div class="col-sm-6">
                            <h6 style="color: white;" class="text-uppercase text-left"
                                data-caption-animate="fadeInRight" data-caption-delay="0">Natural sun dried to retain
                                aroma</h6>
                            <h2 style="color: white;" class="oh font-weight-light text-left"
                                data-caption-animate="slideInUp" data-caption-delay="100"><span>Traditional</span><span
                                    class="font-weight-bold"> wood press method</span></h2>
                        </div>

                    </div> -->
                    <!-- <div class="carousel-caption row">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 style="color: white;" class="text-uppercase" data-caption-animate="fadeInRight"
                                    data-caption-delay="0">Natural sun dried to retain taste and aroma</h6>
                                <h2 style="color: white;" class="oh font-weight-light" data-caption-animate="slideInUp"
                                    data-caption-delay="100"><span>Traditional</span><span class="font-weight-bold"> Wood
                                        Press Method</span></h2><a class="button button-default-outline button-ujarak"
                                    href="#" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
                            </div>
    
                        </div>
                    </div> -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section class="section section-lg section-top-1 bg-gray-4">
            <div class="container offset-negative-1">
                <div class="box-categories cta-box-wrap">
                    <div class="box-categories-content">
                        <div class="row justify-content-center">
                            <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                                <ul class="list-marked-2 box-categories-list">
                                    <li><a [routerLink]="" (click)="setFilter('Oils')"><img src="assets/images/oils/o4.jpg" alt="" width="368"
                                                height="420" /></a>
                                        <h5 class="box-categories-title">Oils</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                                <ul class="list-marked-2 box-categories-list">
                                    <li><a [routerLink]="" (click)="setFilter('Soap')"><img src="assets/images/soaps/s4.jpg" alt="" width="368"
                                                height="420" /></a>
                                        <h5 class="box-categories-title">Soaps</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
                                <ul class="list-marked-2 box-categories-list">
                                    <li><a [routerLink]="" (click)="setFilter('Lamps')"><img src="assets/images/lamps/l6.jpg" alt="" width="368"
                                                height="420" /></a>
                                        <h5 class="box-categories-title">Home Decor</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><a class="link-classic wow fadeInUp" [routerLink]="" (click)="setFilter('all')">Our Products<span></span></a>
                <!-- Owl Carousel-->
            </div>
        </section>
        <!-- Discover New Horizons-->
        <section class="section section-sm section-first bg-default text-md-left">
            <div class="container">
                <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
                    <div class="col-lg-6 text-center wow fadeInUp"><img src="assets/images/hampers/Premium Giting.jpg" alt="" width="556"
                            height="382" />
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
                        <div class="box-width-lg-470">
                            <h3>Handmade Gifts</h3>
                            <!-- Bootstrap tabs-->
                            <div class="tabs-custom tabs-horizontal  tabs-line-style-2 text-center text-md-left"
                                id="tabs-7">
                                <!-- Nav tabs-->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1"
                                            data-toggle="tab">About us</a></li>
                                    <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2"
                                            data-toggle="tab">Why choose us</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3"
                                            data-toggle="tab">Our mission</a></li> -->
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-7-1">
                                        <p>Occasions of 'Valentine', 'Birthday', ' Wedding', 'Anniversary', 'Long Service' made special for your loved ones, partners, employees and clients, COIO seamlessly manages all gifting requirements. Our gifts are developed with the idea of building meaningful relationships.
                                        </p>
                                        <div class="group-md group-middle"
                                            style="justify-content: center; align-items: center;"><a
                                                class="button button-secondary button-pipaluk"
                                                href="https://wa.me/+919108283427">Get in
                                                Touch</a>
                                                <!-- <a class="button button-black-outline button-md"
                                                href="about.html">Read
                                                More</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--	Our Services-->
        <section class="section section-sm">
            <div class="container">
                <h3>Our Services</h3>
                <div class="row row-30">
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Handmade Gifts</a></h5>
                                    <p class="box-icon-classic-text">Offer variety of Handmade Organic Gifts</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Organic Coconuts </a></h5>
                                    <p class="box-icon-classic-text">Coconuts grown in natural and organic methods.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Highly Qualified Service</a></h5>
                                    <p class="box-icon-classic-text">All hassle-free deliveries across India.&nbsp;</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Dedicated Support</a></h5>
                                    <p class="box-icon-classic-text">You can always get professional support from our
                                        staff
                                         and ask any question you have</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Handpicked Products</a></h5>
                                    <p class="box-icon-classic-text">Our team offers only the best selection of
                                        affordable
                                        and quality products to our clients.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="box-icon-classic">
                            <div
                                class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                                <div class="unit-left">
                                    <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-classic-title"><a href="#">Best Price</a></h5>
                                    <p class="box-icon-classic-text">Premium quality products at the best prices.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <app-review-list></app-review-list>
     
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="js/core.min.js"></script>
        <script src="js/script.js"></script>
    </div>
</div>
