/* parallax.component.css */
.parallax-container {
    height: 500px; /* Set the height of your parallax container */
    overflow: hidden;
    position: relative;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .layer1 {
    background-image: url('\\assets\\images\\soap1.jpg');
    width: 200%;
    z-index: 1; /* Set a different z-index for each layer to control their stacking order */
  }
  
  .layer2 {
    background-image: url('\\assets\\images\\soap2.jpeg');
    width: 100%;
    z-index: 2;
  }
  
  .layer3 {
    /* background-image: url('\\assets\\images\\soap3.jpeg'); */
    width: 50%;
    z-index: 3;
  }
  