/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
    padding: 0;
    /*
     
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
    */
  }
  html {
    width: 100%;
    font-size: 100%;
    overflow-x: hidden !important;
    color: #ddd;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3{
    font-size: 64px;
    line-height: 1.328125;
    font-weight: 900;
  }
  body{
    /* font-family: Georgia, serif;
    
    width: 100%; */
    font-size: 21px;
    line-height: 1.57142857;

  }
  section{
    height: 100vh;
    width: 100%;
    background: transparent;
    background-position: center;
    &.over{
      position: relative;
      z-index: 10;
    }
    .over-inner{
      position: relative;
    }
    .under-inner{
      color: white;
      height: 100vh;
      position: relative;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
    .one{
      background-image: url("assets/back1.jpg");
    }
    .two{
      background-image: url("assets/back6.jpg");
    }
    .three{
      background-image: url("assets/back3.jpg");
    }
    .four{
      background-image: url("assets/back4.jpg");
    }
    .five{
      background-image: url("assets/back6.jpg");
    }
  }
  
  .centered{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 10%;
    transform: translateY(-50%);
  }
  .fixed{
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;
    transition: opacity 100ms linear;
    z-index: 0;
    margin: 0;
  }
  .locked{
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 100ms linear;
  
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
  }
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  section {
    color: #fff;
    text-align: center;
  }
  
  div {
    height: 100%;
  }
  /* Pattern styles */
  .container {
    display: table;
    width: 100%;
  }
  
  .left-half {
    background-image: url("assets/back8.jpg");
    position: absolute;
    left: 0px;
    width: 50%;
    background-size:cover;
    background-repeat:no-repeat;
  }
  
  .right-half {
    background-color: #fff;
    position: absolute;
    right: 0px;
    width: 50%;
  }
  .left-half1 {
    
    background-color: #fff;
    position: absolute;
    left: 0px;
    width: 50%;
  }
  
  .right-half1 {
    background-image: url("assets/back2.jpg");
    position: absolute;
    right: 0px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sticky-div {
    /* position: fixed;
    bottom: 0;
    right: 0;
    z-index: 15;
    padding: 15px; */
    background-color: transparent; /* Bootstrap dark background color */
    color: white; /* Text color */
    /* border-radius: 5px; */
    /* width: 50px;
    height: 50px; */
}
.whatsapp-img {
  /* vertical-align: text-bottom;
  margin-right:20vw;
  z-index: 100; */
  position: fixed;
  bottom: 3vw;
  border-radius: 50%;
    right: 3vw;
   /* width: 200px;
    height: 50px; */
    display: block !important;
    z-index: 99999 !important;
}

